nav > * {
    color: azure !important;
}

.b-img {
    background: url("../img/chuttersnap-BNBA1h-NgdY-unsplash.jpg") no-repeat 50% 50%;
    max-height: 30rem;
    padding-top: 8rem;
}
/* White text on first img */
.b-img > * {
    color: azure !important;
}


/* .aspect-ratio {
    max-height: 15rem ;
    width: 100%;
    max-width: 700px; */
    /* aspect-ratio: 16/9; */
/* } */

.font-rubik-bubbles {
    font-family: 'Rubik Bubbles', cursive;
}

section {
    overflow: hidden;
}